
<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="alert alert-secondary">
    <p><%= @answer %></p>
    <p><em>-You</em></p>


  </div>

  <div class="alert alert-warning" class="border-start">
    <p><%= @response %></p>
    <p><em>-Your coach</em></p>
  </div>
  <%# <div class="btn-primary"> %>
  <%= link_to "Ask again", "/ask"  %>
  <%# </div> %>
</div>
